@font-face {
    font-family: 'MyCustomFont';
    src: url('./papafont.ttf') format('truetype');
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

headerhome .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.59;
}

headerhome .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    font-family: 'MyCustomFont', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: rgb(216, 227, 251);
    padding: 5px 25px;
    border: 1px solid transparent;
    transition: 1s ease;
}

ul li a:hover {
    background-color: rgb(196, 215, 247);
    color: black;
}

ul li.active a {
    background-color: rgb(194, 214, 250);
    color: #000;
}

headerhome .main {
    max-width: 1200px;
    margin: auto;
}

.title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1 {
    color: whitesmoke;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 70px;
    font-weight: bold;
}

.button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    border: 2.7px solid rgb(202, 217, 245);
    padding: 10px 35px;
    color: white;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 1s ease;
}

.btn:hover {
    background-color: #dce3ff;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 80px;
    background: rgb(181, 198, 224);

}

header .left {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 35px;
    margin-left: 10px;
}

header .middle {
    font-family: 'MyCustomFont', sans-serif;
    font-size: 35px;
    font-weight: bolder;
    color: rgb(74, 108, 170);
}

header .right {
    font-size: 27px;
    margin-right: 10px;
}

main {
    height: calc(100vh - 80px - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(189, 212, 252, 0.5);
    cursor: pointer;
}

main .top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 100%;
}

main .top .container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 150px;
    margin: 20px;
    background: rgba(106, 156, 250, 0.919);
    border: 3px solid beige;
    border-radius: 20px;
}

main .top .container1:hover {
    background: rgb(248, 168, 181);
    transition: 1s ease;
}

main .top .container1 span {
    color: white;
    font-family: 'MyCustomFont', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

main .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

main .bottom .container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 14px 30px;
    margin: 20px;
    border: 3px solid beige;
    background: rgb(177, 200, 244);
    border-radius: 17px;
}

main .bottom .container2 span {
    color: rgb(65, 96, 153);
    font-family: 'MyCustomFont', sans-serif;
    font-weight: bold;
}

main .bottom .container2 .container3 {
    padding: 12px 30px;
    border-radius: 14px;
    background: rgba(95, 140, 224, 0.752);
    margin-top: 10px;
    padding: 20px 30px;
}

main .bottom .container2 .container3 span {
    color: white;
    font-weight: bold;
}

main .bottom .container2 .container3 span input {
    border: 2px solid white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
    background: rgb(181, 198, 224);
}

footer input {
    margin-top: 17px;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: white;
    padding: 5px 50px;
    border-radius: 35px;
    border: 2px solid transparent;
    background: rgba(85, 125, 200, 0.867);
    margin-bottom: 12px;
    cursor: pointer;
}

footer input:hover {
    background: rgb(248, 168, 181);
    transition: 1s ease;
}

footer span {
    color: cornflowerblue;
    font-family: 'MyCustomFont', sans-serif;
    font-weight: bold;
    font-size: 26px;
    cursor: pointer;
}

main2 {
    height: calc(100vh - 80px - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(189, 212, 252, 0.5);
    cursor: pointer;
}


main2 .boxing {

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 450px;

    background: rgba(255, 255, 255, 0);

}

main2 .boxing .box-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 350px;

    background: rgba(156, 179, 241, 0.29);
    border-radius: 17px;
    margin: 20px;
    color: black;
    font-family: 'MyCustomFont', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

main2 .boxing .box-left .one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 330px;
    height: 180px;
    border-radius: 20px;
}

main2 .boxing .box-left .one .topleftbox {
    text-align: center;
    background: rgba(221, 231, 253, 0.13);
    padding: 10px 10px;
    border-radius: 10px;
}

main2 .boxing .box-left .one .middleleftbox span {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-family: 'MyCustomFont', sans-serif;
    /*   margin-top: 30px;*/
}

main2 .boxing .box-left .one .bottombox {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(221, 231, 253);
    padding: 10px 10px;
    border-radius: 10px;
    margin-top: 80px;
}

main2 .boxing .box-left .two {
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 20px;
    padding-top: 40px;
    background: rgba(221, 231, 253, 0.13);
    color: black;
    font-family: 'MyCustomFont', sans-serif;
    font-weight: bold;
    width: 330px;
    height: 100px;
    border-radius: 17px;
}

main2 .boxing .box-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    height: 300px;

    background: rgba(156, 179, 241, 0.29);
    border-radius: 17px;
    color: black;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin: 30px;
}

main2 .boxing .box-right .three {
    margin-top: 10px;
}

main2 .boxing .box-right .toprightbox {
    background: rgba(221, 231, 253, 0.13);
    padding: 10px 20px;
    border-radius: 10px;
    width: 250px;
    height: 200px;
    margin-bottom: 30px;
}
#videoBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 비디오 비율 유지 */
    z-index: -1; /* 다른 요소 위에 비디오 배경이 표시되도록 설정 */
}
